@import 'tailwindcss/base';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

/* * */

body {
  font-family: theme('fontFamily.body');
  @apply font-light;
  @apply apple-text-black;
}

.text-color {
  color: rgba(51, 51, 51, var(--text-opacity));
  --text-opacity: 1;
}

.font-pq {
  font-family: theme('fontFamily.display');
}

h1 {
  @apply pt-6 text-3xl font-medium;
}

:not(nav) > {
  & ul {
    margin-left: 1em;

    & li {
      position: relative;
    }

    & > li::before {
      position: absolute;
      top: 0.75em;
      left: -2em;
      font-size: 0.5em;
      font-weight: 400;
      content: 'q';
      transform: rotate(-90deg);
      @apply font-pq;

      @nest ul & {
        font-weight: 300;
        content: 'p';

        @nest ul & {
          content: 'r';

          @nest ul & {
            content: 'l';

            @nest ul & {
              content: 'u';

              @nest ul & {
                content: 'e';

                @nest ul & {
                  content: 'l';
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Apple */

.apple-text-white {
  color: rgba(245, 245, 247, var(--text-opacity));
  --text-opacity: 1;
}

.apple-text-gray {
  color: rgba(134, 134, 139, var(--text-opacity));
  --text-opacity: 1;
}

.apple-text-black {
  color: rgba(29, 29, 31, var(--text-opacity));
  --text-opacity: 1;
}

.apple-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  @apply apple-text-white;
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
