@import 'tailwindcss/base';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
/* @import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css'); */

/* comfortaa-300 - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/fonts/comfortaa-v28-latin-300.woff2') format('woff2');
}
/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/comfortaa-v28-latin-regular.woff2') format('woff2');
}
/* comfortaa-700 - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/comfortaa-v28-latin-700.woff2') format('woff2');
}
/* * */

body {
  font-family: theme('fontFamily.body');
  @apply font-light;
  @apply apple-text-black;
}

.text-color {
  color: rgba(51, 51, 51, var(--text-opacity));
  --text-opacity: 1;
}

.font-pq {
  font-family: theme('fontFamily.display');
}

h1 {
  @apply pt-6 text-3xl font-medium;
}

:not(nav) > {
  & ul {
    margin-left: 1em;

    & li {
      position: relative;
    }

    & > li::before {
      position: absolute;
      top: 0.75em;
      left: -2em;
      font-size: 0.5em;
      font-weight: 400;
      content: 'q';
      transform: rotate(-90deg);
      @apply font-pq;

      @nest ul & {
        font-weight: 300;
        content: 'p';

        @nest ul & {
          content: 'r';

          @nest ul & {
            content: 'l';

            @nest ul & {
              content: 'u';

              @nest ul & {
                content: 'e';

                @nest ul & {
                  content: 'l';
                }
              }
            }
          }
        }
      }
    }
  }
}

.pq-grid-1-3 {
  @apply grid grid-cols-4 col-gap-4 row-gap-2 leading-tight;

  & > div:nth-child(odd) {
    @apply col-span-1 text-right;
  }

  & > div:nth-child(even) {
    @apply col-span-3;

    & > div {
      /* @apply grid grid-cols-2 col-gap-4; */

      & > div:nth-child(odd) {
        /* @apply col-span-1 text-right; */
      }

      & > div:nth-child(even) {
        /* @apply col-span-1; */
      }
    }
  }
}

.menu-icon {
  @apply bg-transparent transition duration-300 ease-in-out;

  & > .menu-toggle {
    position: absolute;
    height: 0;
    @apply overflow-hidden bg-opacity-0 transition duration-300 ease-in-out;
  }

  &:hover {
    @apply bg-white bg-opacity-25 transition duration-300 ease-in-out;

    & > .menu-toggle {
      display: block;
      height: 100%;
      @apply overflow-visible transition duration-300 ease-in-out;

      & > .menu-link {
        display: block;
        @apply bg-black bg-opacity-75 transition duration-300 ease-in-out px-2 py-1;

        &:hover {
          @apply bg-opacity-50;
        }
      }
    }
  }
}

/* Apple */

.apple-text-white {
  color: rgba(245, 245, 247, var(--text-opacity));
  --text-opacity: 1;
}

.apple-text-gray {
  color: rgba(134, 134, 139, var(--text-opacity));
  --text-opacity: 1;
}

.apple-text-black {
  color: rgba(29, 29, 31, var(--text-opacity));
  --text-opacity: 1;
}

.apple-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  @apply apple-text-white;
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
