@import "tailwindcss/base";

/* * */

* {
  color: rgb(51, 51, 51);
}

/* blog */

.blog {
  & h1 {
    @apply px-4 py-2 rounded font-bold bg-gray-200 text-black;
  }

  & h2 {
    @apply px-4 py-2 font-semibold text-black;
  }

  & ul {
    margin-left: 1em;

    & li {
      position: relative;
    }

    & > li::before {
      position: absolute;
      top: 0.75em;
      left: -2em;
      font-family: Comfortaa, sans-serif;
      font-size: 0.5em;
      font-weight: 400;
      content: "q";
      transform: rotate(-90deg);
    }

    & ul > li::before {
      font-weight: 300;
      content: "p";
    }
  }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
