@import 'tailwindcss/base';

/* * */

body {
  font-family: theme('fontFamily.body');
  @apply font-light;
  @apply text-color;
  @apply bg-gray-200;
}

.text-color {
  color: rgba(51, 51, 51, var(--text-opacity));
  --text-opacity: 1;
}

.font-pq {
  font-family: theme('fontFamily.display');
}

h1 {
  @apply text-3xl font-medium;
}

:not(nav) > {
  & ul {
  margin-left: 1em;

  & li {
    position: relative;
  }

  & > li::before {
    position: absolute;
    top: 0.75em;
    left: -2em;
    font-size: 0.5em;
    font-weight: 400;
    content: 'q';
    transform: rotate(-90deg);
    @apply font-pq;

    @nest ul & {
      font-weight: 300;
      content: 'p';

      @nest ul & {
        content: 'r';

        @nest ul & {
          content: 'l';

          @nest ul & {
            content: 'u';

            @nest ul & {
              content: 'e';

              @nest ul & {
                content: 'l';
              }
            }
          }
        }
      }
    }
  }
}
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
